html,
body {
    background-color: #e6e6e6;
    height: 100%;
}

.bg {
    background-image: url("../images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    height: 100vh;
    width: 100%;
}

.centered-text-1 {
    /* center */
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* font */
    color: white;
    font-family: "akaDora";
    font-size: 6vh;
}

.centered-text-2 {
    /* center */
    text-align: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* font */
    color: white;
    font-family: "Creattion";
    font-size: 10vh;
}

.centered-button {
    text-align: center;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    /* font */
    /* font-family: "Handycheera"; */
    /* font-size: 2vh; */
}